:root {
  // Colors
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-pearl: #141E27;
  --color-whisper: #EAEAEA;
  --color-gainsboro: #DDDDDD;
  --color-azure: #ECF0F1;
  --color-azure-second: #F7FBFC;
  --color-madison: #2C3E50;
  --color-navy-blue: #1275E7;
  --color-grey: #838383;
  --color-red: #BB0000;


  // Typography
  --ff-main: "Montserrat", "Arial", sans-serif;


  // Transitions
  --transition-300: 0.3s ease;
  
}