.games {
  padding: 20px 0 60px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 0 20px;
  }

  &__top-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__heading {
    margin: 0;
    color: var(--color-black);
    font-size: 24px;
  }
}